{% extends "home/base.html" %}
{% load sb_quiver_extras %}
{% load crispy_forms_tags %}
{% block content %}
{% include "sb_quiver/quiver_header.html" %}
<div class="content-section nice-padding">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Surfboard Quiver</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Add</button>
        </div>
    </form>

</div>
{% endblock content %}